@Master['master2']

@Section['Header']
Missing Files
@EndSection


@Section['Content']


    <section class="left">
        <header>Missing Files: Choose an action</header>
        <form id="action-form">
            <div>
                <input type="radio" name="cb1" value="by-key" id="by-key-rdo" />
                <label for="by-key-rdo">Reload a single key</label>
            </div>
            <div>
                <input type="radio" name="cb1" value="by-file" id="by-file-rdo" />
                <label for="by-file-rdo">Reload keys from a file</label>
            </div>
        </form>
    </section>

    <section class="left" id="by-file" style="display:none">
        <header>Missing Files: Reload From File</header>
        <div id="choose-client"></div>
        <div class="dropbox">
            <p>Drop Missing Files Report</p>
        </div>
        <div class="progress" style="display:none"></div>
        <form class="results" style="display:none">
            <input type="submit" value="Reload All Checked" />
            <div class="padd-top" id="checkbox-container"></div>
        </form>
    </section>

    <section class="left" id="by-key" style="display:none">
        <header>Missing Files: Single Key</header>
        <form autocomplete="off" id="reload-key-form">
            <input name="ReloadKey" type="text" placeholder="Enter an S3 file key to reload" />
            <input type="submit" value="Reload Key" />
        </form>
    </section>

    <section class="right">
        <header>Operating System</header>
        <div>
            <div class="data-item clearfix">
                <label>Process</label>
                <span class="value standout">On</span>
            </div>
            <div class="data-item clearfix">
                <label>Uptime</label>
                <span class="value standout">8:22:56</span>
            </div>
            <div class="data-item clearfix">
                <label>Files by Hour</label>
                <canvas class="inset" id="daily-bar-canvas" width="336" height="70"></canvas>
            </div>
        </div>
    </section>
@EndSection

@Section['Script']
    <script>
        require(['app.missingfiles'], function (app) {
            app.init();
            app.initGraph();
        });
    </script>


    <script type="text/html" id="data-item-template">
        <div class="data-item clearfix">
            <label><%= label %></label>
            <span class="value standout"><%= value %></span>
        </div>
    </script>

    <script type="text/html" id="checkbox-item-template">
        <div>
            <input type="checkbox" checked value="<%= key %>" id="<%= fileName %>" />
            <label for="<%= fileName %>" title="<%= key %>"><%= fileName %> <b>(<%= size %>)</b></label>
        </div>
    </script>

    <script type="text/html" id="select-template">
        <select name="<%= name %>">
            <option value="<%= defaultValue %>"><%= defaultText %></option>
            <% _.each(options, function(option){ %>
            <option value="<%= option.value %>"><%= option.name %></option>
            <% }); %>
        </select>
    </script>
@EndSection