div.sticky-queue
	{ 
	position:fixed;
    top: -3px;
    z-index: 1040;
	background:#eee;
	border:1px solid #666;
	box-shadow:0px 0px 5px #222;
	-moz-box-shadow:0px 0px 5px #222;
	-webkit-box-shadow:0px 0px 5px #222;
	width:200px;
	}
div.sticky-note
	{ padding-right:20px; }
div.sticky
	{
	font-size:12px;
	color:#222;
    text-shadow: 1px .5px #fff;
	display:none;
	padding:10px;
	position:relative;
	}
a.sticky-close
	{
    display: block;
	position:absolute;
	top:12px;
	right:10px;
	height:14px;
	width:14px;
	cursor:pointer;
    background: url(close.png) 0 0 no-repeat;
	}
	
	
.top-right
	{ right:20px; }
.top-left
	{ left:20px; }
.top-right, .top-left
	{
	top:-2px;
	border-bottom-right-radius:6px;
	border-bottom-left-radius:6px;
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	}
.bottom-right
	{ right:20px; }
.bottom-left
	{ left:20px; }
.bottom-right, .bottom-left
	{
	bottom:-2px;
	border-top-right-radius:6px;
	border-top-left-radius:6px;
	-moz-border-radius-topright:6px;
	-moz-border-radius-topleft:6px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-top-left-radius:6px;
	}

.border-top-right, .border-top-left
	{ border-top:1px solid #999; }
.border-bottom-right, .border-bottom-left
	{ border-bottom:1px solid #999; }