html, body { }
::-webkit-scrollbar-track-piece { background-color: #e1e1e1; -webkit-border-radius: 0; }
::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-thumb { height: 50px; background-color: #999; -webkit-border-radius: 0px; border: 2px solid #e1e1e1; border-left: none; border-right: none; }
    ::-webkit-scrollbar-thumb:hover { height: 50px; background-color: #9f9f9f; -webkit-border-radius: 0px; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.upload-console { border: 1px solid #ccc; padding-left: 0px !important; margin-top: 20px; overflow: auto; height: 300px; }
    .upload-console > span:before { content: ''; width: 22px; height: 20px; display: inline-block; background: url(../img/glyphicons-halflings.png) 0 6px no-repeat; opacity: .4; }
    .upload-console > span.log:before { background-position: -455px -67px; }
    .upload-console > span.error:before { background-position: 1px -113px; }
    .upload-console > span.warn:before { background-position: -143px -113px; }
    .upload-console > span.info:before { background-position: -119px -89px; }
    .upload-console > span { padding-left: 15px; display: block; white-space: nowrap; float: none; margin-left: 0; }
    span.tag,
    .upload-console span span.tag { display: inline-block; border: 1px solid #eee; color: #444; background: #fff; padding: 2px 4px; border-radius: 3px; margin-right: 5px; }
    .upload-console > span.error { color: #cd5454; }
    .upload-console > span.warn { color: #d5ca4a; }
    .upload-console > span.info { color: #48a1ca; }
    .upload-console > span.log { color: #555; }
    .upload-console span abbr { font-style: italic; padding-right: 10px; font-size: 90%; }

.info-wrapper { margin: 15px 0; position: relative; padding: 39px 19px 14px; background-color: #fff; border: 1px solid #ddd; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
    .info-wrapper:after { content: attr(data-label); position: absolute; top: -1px; left: -1px; padding: 3px 7px; font-size: 12px; font-weight: bold; background-color: #f5f5f5; border: 1px solid #ddd; color: #9da0a4; -webkit-border-radius: 4px 0 4px 0; -moz-border-radius: 4px 0 4px 0; border-radius: 4px 0 4px 0; }

#thread-info li { margin: 120px 90px 0px 90px; }
.nav-pills > li > a { background-color: #eee; }


.popover-title.active { background-color: #0088CC; color: #fff; font-weight: bold; }
.popover-title { font-weight: bold; }

.btn-filters { float: left; margin: 0 5px 5px 0 !important; }
input.text { margin: 0; }
input.text.clients-filter { float: left; }
.bold { font-weight: bold; font-size: 95%; }

body .edit-modal { /* new custom width */ width: 1000px; /* must be half of the width, minus scrollbar on the left (30px) */ margin-left: -500px; }

.queue-wrapper { margin: 0 0 2rem 0; }
section.queue { display: block; overflow: auto; white-space: nowrap; background-color: #e1e1e1; padding: 1rem 0 0 1rem; border: 1px dotted #ccc; }
section.queue.empty:after { content: "No items in queue..."; padding: 2.1rem 0 2.7rem 0; font-size: 2rem; display: block; color: #999999; text-shadow:  0px 1px 0 rgba(255, 255, 255, 0.9); }
section.queue a { display: inline-block; margin: 0 1rem .7rem 0; padding: 0; background: #fff; border: 0; height: 5rem; width: 12rem; border-radius: 0.4rem; position: relative; box-shadow: inset 0 -0.3rem 0 0 rgba(0, 0, 0, 0.2), 0 0.1rem 0 0 rgba(0, 0, 0, 0.2); transition: height 0.08s, margin 0.08s, box-shadow 0.08s, background 0.08s; background: -webkit-linear-gradient(90deg, #4d4d4d 0%, #4d4d4d 2%, #ffffff 2%, #ffffff 92%); background: -moz-linear-gradient(90deg, #4d4d4d 0%, #4d4d4d 2%, #ffffff 2%, #ffffff 92%); background: -o-linear-gradient(90deg, #4d4d4d 0%, #4d4d4d 2%, #ffffff 2%, #ffffff 92%); background: linear-gradient(90deg, #4d4d4d 0%, #4d4d4d 2%, #ffffff 2%, #ffffff 92%); }

section.queue a.working { background: -webkit-linear-gradient(90deg, #333333 0%, #333333 2%, #5299e0 2%, #5299e0 92%); background: -moz-linear-gradient(90deg, #333333 0%, #333333 2%, #5299e0 2%, #5299e0 92%); background: -o-linear-gradient(90deg, #333333 0%, #333333 2%, #5299e0 2%, #5299e0 92%); background: linear-gradient(90deg, #333333 0%, #333333 2%, #5299e0 2%, #5299e0 92%); }
section.queue a:hover { background: -webkit-linear-gradient(90deg, #333333 0%, #333333 2%, #ffffff 2%, #ffffff 92%); background: -moz-linear-gradient(90deg, #333333 0%, #333333 2%, #ffffff 2%, #ffffff 92%); background: -o-linear-gradient(90deg, #333333 0%, #333333 2%, #ffffff 2%, #ffffff 92%); background: linear-gradient(90deg, #333333 0%, #333333 2%, #ffffff 2%, #ffffff 92%); }
section.queue a.working:hover { background: -webkit-linear-gradient(90deg, #333333 0%, #333333 2%, #5299e0 2%, #5299e0 92%); background: -moz-linear-gradient(90deg, #333333 0%, #333333 2%, #5299e0 2%, #5299e0 92%); background: -o-linear-gradient(90deg, #333333 0%, #333333 2%, #5299e0 2%, #5299e0 92%); background: linear-gradient(90deg, #333333 0%, #333333 2%, #5299e0 2%, #5299e0 92%); }

section.queue a:active { margin-top: 0.3rem; height: 4.7rem; box-shadow: none; }

section.queue a.blue { background: -webkit-linear-gradient(90deg, #7db2e8 0%, #7db2e8 2%, #ffffff 2%, #ffffff 92%); background: -moz-linear-gradient(90deg, #7db2e8 0%, #7db2e8 2%, #ffffff 2%, #ffffff 92%); background: -o-linear-gradient(90deg, #7db2e8 0%, #7db2e8 2%, #ffffff 2%, #ffffff 92%); background: linear-gradient(90deg, #7db2e8 0%, #7db2e8 2%, #ffffff 2%, #ffffff 92%); }
section.queue a.working.blue { background: -webkit-linear-gradient(90deg, #7db2e8 0%, #7db2e8 2%, #5299e0 2%, #5299e0 92%); background: -moz-linear-gradient(90deg, #7db2e8 0%, #7db2e8 2%, #5299e0 2%, #5299e0 92%); background: -o-linear-gradient(90deg, #7db2e8 0%, #7db2e8 2%, #5299e0 2%, #5299e0 92%); background: linear-gradient(90deg, #7db2e8 0%, #7db2e8 2%, #5299e0 2%, #5299e0 92%); }
section.queue a.blue:hover { background: -webkit-linear-gradient(90deg, #5299e0 0%, #5299e0 2%, #ffffff 2%, #ffffff 92%); background: -moz-linear-gradient(90deg, #5299e0 0%, #5299e0 2%, #ffffff 2%, #ffffff 92%); background: -o-linear-gradient(90deg, #5299e0 0%, #5299e0 2%, #ffffff 2%, #ffffff 92%); background: linear-gradient(90deg, #5299e0 0%, #5299e0 2%, #ffffff 2%, #ffffff 92%); }
section.queue a.blue.working:hover { background: -webkit-linear-gradient(90deg, #5299e0 0%, #5299e0 2%, #5299e0 2%, #5299e0 92%); background: -moz-linear-gradient(90deg, #5299e0 0%, #5299e0 2%, #5299e0 2%, #5299e0 92%); background: -o-linear-gradient(90deg, #5299e0 0%, #5299e0 2%, #5299e0 2%, #5299e0 92%); background: linear-gradient(90deg, #5299e0 0%, #5299e0 2%, #5299e0 2%, #5299e0 92%); }

section.queue a.green { background: -webkit-linear-gradient(90deg, #c4e87d 0%, #c4e87d 2%, #ffffff 2%, #ffffff 92%); background: -moz-linear-gradient(90deg, #c4e87d 0%, #c4e87d 2%, #ffffff 2%, #ffffff 92%); background: -o-linear-gradient(90deg, #c4e87d 0%, #c4e87d 2%, #ffffff 2%, #ffffff 92%); background: linear-gradient(90deg, #c4e87d 0%, #c4e87d 2%, #ffffff 2%, #ffffff 92%); }
section.queue a.working.green { background: -webkit-linear-gradient(90deg, #c4e87d 0%, #c4e87d 2%, #5299e0 2%, #5299e0 92%); background: -moz-linear-gradient(90deg, #c4e87d 0%, #c4e87d 2%, #5299e0 2%, #5299e0 92%); background: -o-linear-gradient(90deg, #c4e87d 0%, #c4e87d 2%, #5299e0 2%, #5299e0 92%); background: linear-gradient(90deg, #c4e87d 0%, #c4e87d 2%, #5299e0 2%, #5299e0 92%); }
section.queue a.green:hover { background: -webkit-linear-gradient(90deg, #b1e052 0%, #b1e052 2%, #ffffff 2%, #ffffff 92%); background: -moz-linear-gradient(90deg, #b1e052 0%, #b1e052 2%, #ffffff 2%, #ffffff 92%); background: -o-linear-gradient(90deg, #b1e052 0%, #b1e052 2%, #ffffff 2%, #ffffff 92%); background: linear-gradient(90deg, #b1e052 0%, #b1e052 2%, #ffffff 2%, #ffffff 92%); }
section.queue a.green.working:hover { background: -webkit-linear-gradient(90deg, #b1e052 0%, #b1e052 2%, #5299e0 2%, #5299e0 92%); background: -moz-linear-gradient(90deg, #b1e052 0%, #b1e052 2%, #5299e0 2%, #5299e0 92%); background: -o-linear-gradient(90deg, #b1e052 0%, #b1e052 2%, #5299e0 2%, #5299e0 92%); background: linear-gradient(90deg, #b1e052 0%, #b1e052 2%, #5299e0 2%, #5299e0 92%); }

section.queue a.red { background: -webkit-linear-gradient(90deg, #e87d7d 0%, #e87d7d 2%, #ffffff 2%, #ffffff 92%); background: -moz-linear-gradient(90deg, #e87d7d 0%, #e87d7d 2%, #ffffff 2%, #ffffff 92%); background: -o-linear-gradient(90deg, #e87d7d 0%, #e87d7d 2%, #ffffff 2%, #ffffff 92%); background: linear-gradient(90deg, #e87d7d 0%, #e87d7d 2%, #ffffff 2%, #ffffff 92%); }
section.queue a.working.red { background: -webkit-linear-gradient(90deg, #e87d7d 0%, #e87d7d 2%, #5299e0 2%, #5299e0 92%); background: -moz-linear-gradient(90deg, #e87d7d 0%, #e87d7d 2%, #5299e0 2%, #5299e0 92%); background: -o-linear-gradient(90deg, #e87d7d 0%, #e87d7d 2%, #5299e0 2%, #5299e0 92%); background: linear-gradient(90deg, #e87d7d 0%, #e87d7d 2%, #5299e0 2%, #5299e0 92%); }
section.queue a.red:hover { background: -webkit-linear-gradient(90deg, #e05252 0%, #e05252 2%, #ffffff 2%, #ffffff 92%); background: -moz-linear-gradient(90deg, #e05252 0%, #e05252 2%, #ffffff 2%, #ffffff 92%); background: -o-linear-gradient(90deg, #e05252 0%, #e05252 2%, #ffffff 2%, #ffffff 92%); background: linear-gradient(90deg, #e05252 0%, #e05252 2%, #ffffff 2%, #ffffff 92%); }
section.queue a.red.working:hover { background: -webkit-linear-gradient(90deg, #e05252 0%, #e05252 2%, #5299e0 2%, #5299e0 92%); background: -moz-linear-gradient(90deg, #e05252 0%, #e05252 2%, #5299e0 2%, #5299e0 92%); background: -o-linear-gradient(90deg, #e05252 0%, #e05252 2%, #5299e0 2%, #5299e0 92%); background: linear-gradient(90deg, #e05252 0%, #e05252 2%, #5299e0 2%, #5299e0 92%); }

section.queue a header { z-index: 1; margin: 0; padding: 0; position: absolute; top: 0.5rem; left: 0.8rem; width: 90%; text-align: left; font-weight: 900; font-size: 1.1rem; color: #1a1a1a; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
section.queue a div { z-index: 1; position: absolute; top: 1.95rem; left: 0.8rem; width: 50%; text-align: left; color: #999999; }
section.queue a.working div { color: #fff; }
section.queue a div i, section.queue a div span { color: #666666; margin: 0 1%; }
section.queue a.working div i, section.queue a.working div span { color: #fff; }
section.queue a div span { font-weight: bold; }
section.queue a div em { z-index: 1; display: inline-block; font-style: normal; max-width: 6rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
section.queue a p { z-index: 1; display: block; margin: 0; position: absolute; right: .9rem; top: 2.6rem; font-size: 2rem; color: #999999; }
section.queue a.working p { color: #fff; }
section.queue a .spinner {position: absolute; z-index: 0 !important; top: .6rem; left: 4rem; }

.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
