@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

html                { background-image: url(/content/img/checker-repeat-bg.jpg); }
*                   { padding: 0; margin: 0; font-family: 'Open Sans', 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica, Calibri, Arial, clean, sans-serif; }
nav                 { position: fixed; top: 0; width: 100%;
                        background-image: -webkit-gradient(linear,right top,right bottom, color-stop(0, #393939), color-stop(1, #262626));
                        background-image: -o-linear-gradient(bottom, #393939 0%, #262626 100%);
                        background-image: -moz-linear-gradient(bottom, #393939 0%, #262626 100%);
                        background-image: -webkit-linear-gradient(bottom, #393939 0%, #262626 100%);
                        background-image: -ms-linear-gradient(bottom, #393939 0%, #262626 100%);
                        background-image: linear-gradient(to bottom, #393939 0%, #262626 100%);
                        border-bottom: 1px#3e3e3e solid; z-index: 1;
                        /*box-shadow: rgba(0,0,0,0.3) 0 3px 2px;*/
                    }


nav ul li           { float: left; display: block; }
nav ul li.active    { background-image: url(/content/img/pinstripe-repeat-bg.jpg); position: relative; bottom: -1px; z-index: 2; }
nav ul li.active a  { padding-top: 14px; padding-bottom: 16px; }
nav ul li a         { padding: 15px 20px; display:block; color: #c4c4c4; font-weight: bold; font-size: 1em; text-decoration: none; text-shadow: 1px 2px 1px rgba(0,0,0,0.3); }
footer              { position: fixed; bottom: 0; }
h1                  { padding: 70px 20px 18px 20px; font-size: 1.5em; color: #f7f7f7; text-shadow: 1px 2px 1px rgba(0,0,0,0.3); border-bottom: 1px solid #676767; background-image: url(/content/img/pinstripe-repeat-bg.jpg); }
div.container       {  }
section             { width: 356px; margin: 10px 0 0 10px;color: #8f8d8b; font-size: .9em; box-shadow: inset rgba(255,255,255,0.1) -.1px -.1px 1px; background-color: #333333; /*border-radius: 3px;*/ border: 1px solid #2d2d2d; display:block; float: left;  }
section header      { box-shadow: inset rgba(255,255,255,0.3) .7px .9px 1px; padding: 8px; /*border-top-left-radius: 3px; border-top-right-radius: 3px;*/ text-transform: uppercase; letter-spacing: 1px; font-weight: bold; color: #82bcd9; background-image: -o-linear-gradient(bottom, #5c5a59 0%, #484847 100%);
                        background-image: -moz-linear-gradient(bottom, #5c5a59 0%, #484847 100%);
                        background-image: -webkit-linear-gradient(bottom, #5c5a59 0%, #484847 100%);
                        background-image: -ms-linear-gradient(bottom, #5c5a59 0%, #484847 100%);
                        background-image: linear-gradient(to bottom, #5c5a59 0%, #484847 100%); 
                        border-bottom: 1px solid #2d2d2d;
                    }
section.double-wide { width: 712px }

section > div       { padding: 10px; }
section .standout   { color: #29a7e6; font-weight: bold; }

.data-item          { padding-bottom: 6px; margin-bottom: 5px; border-bottom: 1px solid #2e2e2e; box-shadow: inset rgba(255,255,255,0.3) 0 -.3px .1px; }
.data-item label    { float: left; text-transform: uppercase; display: block; margin-top: -1px }
.data-item .value   { float: right; text-transform: uppercase; }

.dropbox p          { font-size: 20px; font-weight:bold; text-align:center;  }
.dropbox input      { display: none; }
.dropbox.standout   { background: #5c5a59 }

canvas.inset        { box-shadow: inset rgba(0,0,0,0.3) .5px .5px 3px; border-bottom: 1px solid #494949; border-right: 1px solid #494949; padding-top: 5px; }
.right              { float: right; margin-right: 10px; }
.left              { float: left; }


.clearfix:after     { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix           { display: inline-block; }


/* start commented backslash hack \*/
* html .clearfix    { height: 1%; }
.clearfix           { display: block; }
/* close commented backslash hack */


/* FORM STYLES */
.button                     { width:100px; background:#3399cc; display:block; margin:0 auto; margin-top:1%; padding:10px; text-align:center; text-decoration:none; color:#fff; cursor:pointer; transition:background .3s; -webkit-transition:background .3s; }
form                        { background:#f0f0f0; padding:6% 4%; line-height: 2 }
.padd-top                   { margin-top: 13px; }

select,
input[type=text],
input[type=email],
input[type=password]        { width:95%; background:#fff; margin-bottom:4%; border:1px solid #ccc; padding:2%; font-family:'Open Sans',sans-serif; font-size:95%; color:#555; }




input[type=submit]          { width:100%; background:#3399cc; border:0; padding:3.5%; font-family:'Open Sans'; font-size:100%; color:#fff; cursor:pointer; transition:background .3s; -webkit-transition:background .3s; }
input[type=submit]:hover    { background:#2288bb; }


input[type=checkbox]                        { opacity: 0; position: absolute; }
input[type=checkbox] + label                { position:relative; padding-left: 25px }
input[type=checkbox] + label:after          { content:""; display:block; position:absolute; top:1px; left: 0; height: 14px; width: 14px; background: white; border: 1px solid gray; box-shadow: inset 0 0 0 2px white; border-radius: 1px; }
input[type=checkbox]:checked + label:after  { background: #2288bb; }

input[type=radio]                           { opacity: 0; position: absolute; }
input[type=radio] + label                   { position:relative; padding-left: 25px }
input[type=radio] + label:after             { content:""; display:block; position:absolute; top:1px; left: 0; height: 14px; width: 14px; background: white; border: 1px solid gray; box-shadow: inset 0 0 0 2px white; border-radius: 8px; }
input[type=radio]:checked + label:after     { background: #2288bb; }