@Master['master']

@Section['Content']
   
<div class="page-header">
    <div class="pull-right">
        <button id="btn-retry-all-upload-exceptions" class="retry-all btn btn-danger">Retry All Upload Errors</button>
    </div>
    <h2>Error Manager</h2>
</div>
    <div class="accordion" id="error-accordian">Loading...</div>


<div id="show-error-detail-modal" class="edit-modal modal hide" tabindex="-1" role="dialog" aria-labelledby="error-detail-modal-header" aria-hidden="true">
    <div class="modal-header">
        <h3 id="error-detail-modal-header">Error Details</h3>
    </div>
    <div class="modal-body">
        <textarea id="code-editor"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="retry-upload save btn" data-retrying-text="Retrying..." aria-hidden="true">Retry Upload</button>
        <button class="retry-archive save btn" data-retrying-text="Retrying..." aria-hidden="true">Retry Archive</button>
    </div>
</div>
@EndSection

@Section['Script']
   
<script>
    $(function () {
        var container = $('#error-accordian'),
            modal = $('#show-error-detail-modal');

        var editor = CodeMirror.fromTextArea(document.getElementById('code-editor'), {
            mode: 'text/yaml',
            tabMode: 'indent',
            lineWrapping: true, lineNumbers: true
        });

        var clientErrorTemplate = 
            '<div class="accordion-group">' +
                '<div class="accordion-heading">' +
                    '<a class="accordion-toggle" data-toggle="collapse" data-parent="#error-accordian" href="#collapseTwo"></a>' +
                '</div>' +
                '<div class="accordion-body collapse">' +
                    '<div class="accordion-inner"></div>' +
                '</div>' +
            '</div>';

        var errorActions = '';
                //'<a class="btn" role="button" href="#">Retry</a>';

        $.conn({
            configure: function (e, hub) {
                hub.on('errorSummary', function (summary) {
                    container.empty();

                    modal
                        .find('.save').button('reset').end()
                        .modal('hide');

                    var errors = summary.errorSummary;
                    var hasOwn = Object.prototype.hasOwnProperty;
                    var any = false;
                    for (var client in errors) {
                        if (!hasOwn.call(errors, client)) continue;
                        any = true;
                        var fileList = errors[client];

                        var group = $(clientErrorTemplate);
                        var id = group.find('.accordion-body').uniqueid().attr('id');
                        var groupErrors = group.find('.accordion-inner');

                        group.find('.accordion-toggle').html(client + ' (<strong>' + fileList.length + ' errors</strong>)').attr('href', '#' + id).attr('data-client', client);
                        
                        for (var i = 0; i < fileList.length; i++) {
                            groupErrors.append('<li class="dropdown"><a href="#" role="button" class="dropdown-toggle error-details" data-path="' + fileList[i].path + '" data-toggle="dropdown">' + fileList[i].fileName + '</a> ' + errorActions + '</li>');
                        }
                        container.append(group);
                    }
                    if (!any)
                        container.html('There are no errors to display');
                });

                hub.on('exceptionDetail', function (value) {
                    var d = modal.data();
                    $('#error-detail-modal-header').html(d.client + ': ' + d.fileName + ' (error detail)');
                    modal.modal('show');
                    editor.doc.setValue(d.path + '\n\n' + value);
                });
            },
            ready: function (e, hub) {
                hub.invoke('requestErrorSummary');

                $('#btn-retry-all-upload-exceptions').click(function () {
                    hub.invoke('requestRetryAllUploadExceptions');
                });
                
                container.on('click', '.error-details', function () {
                    var $this = $(this),
                        client = $.trim($this.parents('.accordion-group').find('.accordion-toggle').attr('data-client')),
                        fileName = $.trim($this.html()),
                        path = $this.attr('data-path');

                    modal.data({ client: client, fileName: fileName, path: path });
                    hub.invoke('requestExceptionDetail', client, path, fileName);
                });

                modal.on('click', '.save', function (e) {
                    var d = modal.data(),
                        archive = $(e.target).is('.retry-archive');

                    $(this).button('retrying');

                    hub.invoke('requestRetryException', d.client, d.path, d.fileName, archive);
                });
            }
        });
    });
    </script>
@EndSection