@Master['master']

@Section['Content']
<div class="clearfix queue-wrapper span12">
    <div>
        <h2>Downloading (<span id="DownloadQueue-count">0</span>)</h2>
        <section class="queue empty" id="DownloadQueue">
        </section>
    </div>
    <div>
        <h2>Uploading (<span id="UploadQueue-count">0</span>)</h2>
        <section class="queue empty" id="UploadQueue">
        </section>
    </div>
    <div>
        <h2>Archiving (<span id="ArchiveQueue-count">0</span>)</h2>
        <section class="queue empty" id="ArchiveQueue">
        </section>
    </div>
</div>
<div id="btn-filters" class="btn-group btn-filters" data-toggle="buttons-checkbox">
    <button type="button" data-filter=".archiving" data-loading-text="Applying..." class="btn btn-primary active">Archiving</button>
    <button type="button" data-filter=".uploading" data-loading-text="Applying..." class="btn btn-primary active">Uploading</button>
    <button type="button" data-filter=".finished" data-loading-text="Applying..." class="btn btn-primary active">Finished</button>
</div>
<div class="btn-group btn-filters" data-toggle="buttons-checkbox">
    <button type="button" data-filter=".retrying" data-loading-text="Applying..." class="btn btn-primary active">Retrying</button>
    <button type="button" data-filter=".exceptioning" data-loading-text="Applying..." class="btn btn-primary active">Exceptioned</button>
</div>
<input type="text" class="text clients-filter" placeholder="Start typing a client name..." />
<div class="clearfix"></div>
<div class="info-wrapper upload-console" data-label="Event Log" id="upload-broadcast-log"></div>
@EndSection
@Section['Script']
    <script>
        $(function () {
            var colorTypeMap = {
                'Qoh': 'blue',
                'Invoice': 'red',
                'CreditReturn': 'green',
                'Dispense': 'grey'
            };

            var elCache = {
                'DownloadQueue': { queue: $('#DownloadQueue'), count: $('#DownloadQueue-count') },
                'UploadQueue': { queue: $('#UploadQueue'), count: $('#UploadQueue-count') },
                'ArchiveQueue': { queue: $('#ArchiveQueue'), count: $('#ArchiveQueue-count') }
            };

            var makeQueueItem = function (queueItem) {
                var str =
                    '<a class="' + colorTypeMap[queueItem.FileType] + '" data-id="' + queueItem.Id + '">' +
                        '<header>' + queueItem.FileName + '</header>' +
                        '<div><span>' + queueItem.ClientName + '</span><br /><em>' + queueItem.FileType + '</em></div>' +
                        '<p>' + queueItem.FileSize + '</p>' +
                    '</a>';
                return $(str);
            };


            var logger = loggerInstance = new Logger({
                element: '#upload-broadcast-log',
                formatMessage: function (message) {
                    if ($.isPlainObject(message)) {
                        var m = '<span class="tag client">' + message.ClientName + '</span>'
                        + '<span class="tag fileType">' + message.FileType + '</span>'
                        + '<span class="tag ' + message.EventTypeCombined + '">' + message.EventTypeCombined + '</span>';
                        if (message.Retries > 0)
                            m += '<span class="tag retry">retry-' + message.Retries + '</span>'
                        m += ' ' + message.FileName;

                        if (message.Exception) {
                            m += ' (see console for details)';
                        }

                        return m;
                    }
                    else return message;
                }
            });

            $('.btn-filters button').on('click', function () {
                // $(this).siblings(':not(.selected)')
                var $this = $(this);
                $this.button('loading');

                var activeFilters = $('.btn-filters button').filter(':not(.active)').map(function () {
                    return this.getAttribute('data-filter');
                }).get();

                activeFilters = activeFilters.length ? activeFilters.join(',') : '';

                if (!$this.is('.active')) { // on click class has not been removed yet, but it will be
                    logger.filter(activeFilters);
                }
                else {
                    if (activeFilters)
                        activeFilters += ',' + $this.attr('data-filter');
                    else activeFilters = $this.attr('data-filter');

                    logger.filter(activeFilters);
                }

                $this.button('reset')
            });

            var logItem = function (data) {
                if (data.EventType == 'BeganWork') {
                    if (data.QueueType == 'UploadQueue')
                        data.EventTypeCombined = 'uploading';
                    else if (data.QueueType == 'ArchiveQueue')
                        data.EventTypeCombined = 'archiving';
                }
                else if (data.EventType == 'Removed' && (data.QueueType == 'ArchiveQueue' || (data.QueueType == 'UploadQueue' && data.Archive == false))) // finished when archive queue, or upload queue with no archiving
                    data.EventTypeCombined = 'finished';
                else if (data.EventType == 'Error') {
                    data.EventTypeCombined = 'exceptioning';
                    console.error(data.ClientName, data.FileName, data.Exception);
                }

                if (data.EventTypeCombined) {
                    var messageType = data.EventTypeCombined == 'exceptioning' 
                        ? 'error '
                        : data.Retries > 0 ? 'warn ' : 'log ';

                    logger.addMessage(messageType + data.EventTypeCombined + ' ' + data.ClientName, data);
                }
            };

            logger.info('INFO: Attempting Connection...');

            $.conn({
                configure: function (e, hub) {
                    hub.client.initPackage = function (dataPackage) {
                    
                        if (dataPackage.activeThreadEvents) {
                            var events = dataPackage.activeThreadEvents;
                            for (var i = (events.length - 1); i >= 0; i--)
                                onQueueItemEvent.call(null, events[i]);
                        }

                        if (dataPackage.clients) {
                            $('input.clients-filter').typeahead({
                                source: dataPackage.clients,
                                updater: function (item) {
                                    logger.addNamedFilter('client', ':not(.' + item + ')').filter();
                                    return item;
                                }
                            }).on('keypress', function (e) {
                                if (e.which == 13) {
                                    if (this.value)
                                        logger.addNamedFilter('client', ':not(.' + this.value + ')');
                                    else logger.removeNamedFilter('client');
                                    logger.filter();
                                }
                            })
                        }
                    };

                    var onQueueItemEvent = hub.client.queueItemEvent = function (data) {

                        logItem(data);

                        if (data.EventType == 'Error')
                            return;

                        var queue = elCache[data.QueueType].queue,
                            queueCount = elCache[data.QueueType].count,
                            elSelector = 'a[data-id="' + data.Id + '"]';

                        if (data.EventType == 'BeganWork') {
                            var el = queue.find(elSelector),
                                created = false;
                            if (!el.length) { // in the case of a replay it may not exist
                                created = true;
                                el = makeQueueItem(data).appendTo(queue);
                            }
                            el.find('p').html(data.FileSize);
                            el.addClass('working');
                            if (!created) return;
                        }
                        else if (data.EventType == 'Added' && !queue.find(elSelector).length) {
                            queue.append(makeQueueItem(data));
                        }
                        else if (data.EventType == 'Removed') {
                            queue.find(elSelector).remove();
                            // somehow items are bing left..
                            if (data.Count === 0) queue.empty();
                        }

                        // update queue class and count
                        var count = queue.children().length;

                        queue.toggleClass('empty', !count);
                        queueCount.html(count);
                    };

                    $.connection.hub.disconnected(function () {
                        console.error('Disconnected. Retrying...');
                    });

                    $.connection.hub.error(function () {
                        console.error('An error occurred with the hub connection.');
                    });
                },
                ready: function (e, hub) {
                    logger.info('INFO: Connection Established.');
                    hub.server.requestInitPackage();
                }
            }).fail(function () {
                logger.error('Unable to establish connection. Make sure the service is running.');
            });
        });
    </script>
@EndSection