@Master['master']

@Section['Content']
        <div class="info-wrapper" data-label="Service Information">
            <h3>Files in queue: <span style="font-weight: bold" id="queue-count">0</span></h3>
        </div>
        <div class="info-wrapper" data-label="Thread Information">
            <ul class="nav nav-pills" id="thread-info">
                <!--<li class="active"><a class="test" href="#">Thread 1</a></li>-->
            </ul>
        </div>
        <div id="btn-filters" class="btn-group btn-filters" data-toggle="buttons-checkbox">
            <button type="button" data-filter=".archiving" data-loading-text="Applying..." class="btn btn-primary active">Archiving</button>
            <button type="button" data-filter=".uploading" data-loading-text="Applying..." class="btn btn-primary active">Uploading</button>
            <button type="button" data-filter=".finished" data-loading-text="Applying..." class="btn btn-primary active">Finished</button>
        </div>
        <div class="btn-group btn-filters" data-toggle="buttons-checkbox">
            <button type="button" data-filter=".retrying" data-loading-text="Applying..." class="btn btn-primary active">Retrying</button>
            <button type="button" data-filter=".exceptioning" data-loading-text="Applying..." class="btn btn-primary active">Exceptioned</button>
        </div>
        <input type="text" class="text clients-filter" placeholder="Start typing a client name..." />
        <div class="clearfix"></div>
        <div class="info-wrapper upload-console" data-label="Event Log" id="upload-broadcast-log"></div>
@EndSection
@Section['Script']
    <script>
        window.loggerInstance = null;
        $(function () {
            var logger = loggerInstance = new Logger({
                    element: '#upload-broadcast-log',
                    formatMessage: function (message) {
                        if ($.isPlainObject(message)) {
                            var m = '<span class="tag client">' + message.client + '</span>'
                            + '<span class="tag fileType">' + message.fileType + '</span>'
                            + '<span class="tag ' + message.type + '">' + message.type + '</span>';
                            if (message.retries > 0)
                                m += '<span class="tag retry">retry-' + message.retries + '</span>'

                            m += ' ' + message.fileName;

                            return m;
                        }
                        else return message;
                    }
                }),
                queueCountEl = $('#queue-count'),
                threadInfoEl = $('#thread-info'),
                messageNameMap = {
                    retrying: 'Retrying upload...',
                    archiving: 'Moving file to archive...',
                    uploading: 'Uploading to Azure...',
                    exceptioning: 'Moving file to exception...',
                    finished: 'Idle (last event)'
                },
                setThreadStatus = function (data) {
                    var id = 'thread-' + data.threadId,
                        el = threadInfoEl.find('#' + id).length 
                            ? threadInfoEl.find('#' + id)
                            : threadInfoEl.append('<li id="' + id + '"><a href="#">Thread ' + data.threadId + ' <span class="thread-status"></span></a></li>').find('li#' + id);

                    var a = el.toggleClass('active', data.type !== 'finished').find('a'),
                        shortFileName = data.fileName.length > 25 ? data.fileName.substring(0, 25) + '...' : data.fileName;

                    var popoverHtml = '<span title="' + data.fileName + '">' + shortFileName + '</span><br />'
                    + '<span class="tag bold">' + data.client + '</span> '
                    + '<span class="tag">' + data.fileType + '</span>';

                    if (a.data('has-popover')) a.popover('destroy');

                    a.popover({
                        animation: false, html: true, delay: 0,
                        title: messageNameMap[data.type],
                        content: popoverHtml,
                        placement: 'top', trigger: 'manual',
                    }).data('has-popover', true).popover('show');
                    
                    var title = a.data('popover')
                        .$tip.find('.popover-title')
                        .toggleClass('active', data.type !== 'finished')
                };

            $('.btn-filters button').on('click', function () {
                // $(this).siblings(':not(.selected)')
                var $this = $(this);
                $this.button('loading');

                var activeFilters = $('.btn-filters button').filter(':not(.active)').map(function () {
                    return this.getAttribute('data-filter');
                }).get();

                activeFilters = activeFilters.length ? activeFilters.join(',') : '';

                if (!$this.is('.active')) { // on click class has not been removed yet, but it will be
                    logger.filter(activeFilters);
                }
                else {
                    if (activeFilters)
                        activeFilters += ',' + $this.attr('data-filter');
                    else activeFilters = $this.attr('data-filter');

                    logger.filter(activeFilters);
                }

                $this.button('reset')
            });

            logger.info('INFO: Attempting Connection...');


            $.conn({
                configure: function (e, hub) {
                    var onThreadEvent = function (data) {
                        if (/^(archiving|uploading|finished)$/.test(data.type)) {
                            logger.addMessage('log ' + data.type + ' ' + data.client, data);
                        }
                        else if (/^(exceptioning|retrying)$/.test(data.type)) {
                            logger.addMessage('error ' + data.type + ' ' + data.client, data);
                        }
                        setThreadStatus(data);
                    };

                    hub.client.threadEvent = onThreadEvent;

                    hub.client.initPackage = function (dataPackage) {
                        if (dataPackage.activeThreadEvents) {
                            var events = dataPackage.activeThreadEvents;
                            for (var i = 0; i < events.length; i++)
                                onThreadEvent.call(null, events[i]);
                        }

                        if (dataPackage.clients) {
                            $('input.clients-filter').typeahead({
                                source: dataPackage.clients,
                                updater: function (item) {
                                    logger.addNamedFilter('client', ':not(.' + item + ')').filter();
                                    return item;
                                }
                            }).on('keypress', function (e) {
                                if (e.which == 13) {
                                    if (this.value)
                                        logger.addNamedFilter('client', ':not(.' + this.value + ')');
                                    else logger.removeNamedFilter('client');
                                    logger.filter();
                                }
                            })
                        }

                    };

                    hub.client.queueEvent = function (data) {
                        queueCountEl.html(data.count);
                    };

                    $.connection.hub.disconnected(function () {
                        logger.error('Disconnected. Retrying...');
                    });

                    $.connection.hub.error(function () {
                        logger.error('An error occurred with the hub connection.');
                    });
                },
                ready: function (e, hub) {
                    logger.info('INFO: Connection Established.');
                    hub.server.requestInitPackage();
                }
            }).fail(function () {
                logger.error('Unable to establish connection. Make sure the service is running.');
            });
        });
</script>
@EndSection